{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/python_fevicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Telusko</title>
</head>
<body>
<center>
    {% block content %}

    {% endblock %}
</center>
</body>
</html>